@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  background-color: #1A2F23; /* Warna dasar Hijau Arjes */
  color: #F7F5EB; /* Warna teks dasar Cream */
}